@import "colors";
@import "fonts";

html,
body {
	height: 100%;

	background-color: $Magnolia;
}

.main {
	position: relative;
}

.sidebar {
	.steps {
		position: relative;
		list-style: none;
		padding: 2rem 0;

		display: flex;
		justify-content: center;
		gap: 1rem;
		.step {
			width: 2.35rem;
			height: 2.35rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			border: 2px solid $Light-gray;

			font-weight: 700;
			color: $Magnolia;
			&.active {
				border: none;

				color: $Marine-blue;

				background-color: $Light-blue;
			}
		}
	}
}
.content-area {
	.content-area-main {
		padding: 1.5rem;

		background-color: $White;
		.label {
			font-size: 0.9rem;
			font-weight: 500;
			color: $Marine-blue;
		}
		.input {
			&::placeholder {
				color: $Cool-gray;
			}
		}
	}
	.buttons-container {
		background-color: $White;
	}
}
.options {
	.option {
		width: 100%;
		position: relative;
		display: flex;
		align-items: flex-start;
		.checkout {
			width: 1.1rem;
			height: 1.1rem;
			border: 1px solid $Cool-gray;
			border-radius: .25rem;
			&.checked {
				border: none;
				background: url(../../images/icon-checkmark.svg) no-repeat center, $Purplish-blue;
				background-size: 60%;
			}
		}
		.input-radio {
			appearance: none;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: 1.5px solid $Light-gray;
			outline: none;
			&:checked {
				border-color: $Purplish-blue;
				background-color: rgba($color: $Purplish-blue, $alpha: 0.1);
			}
		}
		.option-caption {
			display: flex;
			flex-direction: column;
			* {
				margin: 0;
			}
			._title {
				color: $Marine-blue;
				font-weight: 700;
			}
			._value {
				color: $Cool-gray;
			}
			.yearly-promotion {
				color: $Marine-blue;
				font-size: 0.8rem;
				font-weight: 500;
			}
		}
		.yearly-promotion.outside {
			color: $Purplish-blue;
			font-size: .85rem;
			font-weight: 500;
		}
	}
	&._add-ons {
		._value {
			font-size: .85rem;
		}
	}
}
.switch-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba($color: $Pastel-blue, $alpha: 0.1);
	.monthly-text {
		font-weight: 700;
		color: $Marine-blue;
	}
	.switch {
		height: 1.285rem;
		width: 2.5rem;
		padding: 0.25rem;
		border-radius: 0.75rem;
		background: $Marine-blue;
		cursor: pointer;
		.dot {
			appearance: none;
			display: flex;
			width: 0.815rem;
			height: 0.815rem;
			border-radius: 50%;
			background: $White;
			&:checked {
				margin-left: auto;
			}
		}
	}
	.yearly-text {
		font-weight: 700;
		color: $Cool-gray;
	}
}
// Global styles
.button-dark,
.text-btn {
	font-weight: 500;
	color: $White;
  &.text-btn {
    color: $Cool-gray;
  }
	&.button-dark {
		background-color: $Marine-blue;
    &:hover {
      color: $White;
    }
	}
}
.input {
	border: 1.5px solid $Light-gray;
	outline: none;
	color: $Marine-blue;
	font-weight: 500;
	&:focus {
		border-color: $Purplish-blue;
	}
}
// Responsive
@import "responsive";
