@font-face {
  font-family: "Ubuntu";
  src: url(../../fonts/Ubuntu-Regular.ttf), url(../../fonts/Ubuntu-Medium.ttf), url(../../fonts/Ubuntu-Bold.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../../fonts/Ubuntu-Medium.ttf), url(../../fonts/Ubuntu-Regular.ttf), url(../../fonts/Ubuntu-Bold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../../fonts/Ubuntu-Bold.ttf), url(../../fonts/Ubuntu-Regular.ttf), url(../../fonts/Ubuntu-Medium.ttf);
  font-weight: 700;
}
* {
  font-family: "Ubuntu", sans-serif;
}

.title {
  color: #02295a;
  font-weight: 700;
}

.text {
  margin-bottom: 0.1rem;
  color: #9699ab;
}

html,
body {
  height: 100%;
  background-color: #f0f6ff;
}

.main {
  position: relative;
}

.sidebar .steps {
  position: relative;
  list-style: none;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.sidebar .steps .step {
  width: 2.35rem;
  height: 2.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #d6d9e6;
  font-weight: 700;
  color: #f0f6ff;
}
.sidebar .steps .step.active {
  border: none;
  color: #02295a;
  background-color: #bfe2fd;
}

.content-area .content-area-main {
  padding: 1.5rem;
  background-color: #ffffff;
}
.content-area .content-area-main .label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #02295a;
}
.content-area .content-area-main .input::placeholder {
  color: #9699ab;
}
.content-area .buttons-container {
  background-color: #ffffff;
}

.options .option {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.options .option .input-radio {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1.5px solid #d6d9e6;
}
.options .option .input-radio:checked {
  border-color: #473dff;
  background-color: rgba(71, 61, 255, 0.1);
}
.options .option .option-caption {
  display: flex;
  flex-direction: column;
}
.options .option .option-caption * {
  margin: 0;
}
.options .option .option-caption ._title {
  color: #02295a;
  font-weight: 700;
}
.options .option .option-caption ._value {
  color: #9699ab;
}
.options .option .option-caption .yearly-promotion {
  color: #02295a;
  font-size: 0.8rem;
  font-weight: 500;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(173, 190, 255, 0.1);
}
.switch-container .monthly-text {
  font-weight: 700;
  color: #02295a;
}
.switch-container .switch {
  height: 1.285rem;
  width: 2.5rem;
  padding: 0.25rem;
  border-radius: 0.75rem;
  background: #02295a;
}
.switch-container .switch .dot {
  appearance: none;
  display: flex;
  width: 0.815rem;
  height: 0.815rem;
  border-radius: 50%;
  background: #ffffff;
}
.switch-container .switch .dot:checked {
  margin-left: auto;
}
.switch-container .yearly-text {
  font-weight: 700;
  color: #9699ab;
}

.button-dark,
.text-btn {
  font-weight: 500;
  color: #ffffff;
}
.button-dark.text-btn,
.text-btn.text-btn {
  color: #9699ab;
}
.button-dark.button-dark,
.text-btn.button-dark {
  background-color: #02295a;
}
.button-dark.button-dark:hover,
.text-btn.button-dark:hover {
  color: #ffffff;
}

.input {
  border: 1.5px solid #d6d9e6;
  outline: none;
  color: #02295a;
  font-weight: 500;
}
.input:focus {
  border-color: #473dff;
}

@media only screen and (min-width: 768px) {
  .main {
    height: auto !important;
    display: grid !important;
    grid-template-columns: auto 1fr;
    flex-direction: row !important;
    position: relative;
    background-color: #ffffff;
  }
  .main .sidebar {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .main .sidebar .steps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
  }
  .main .sidebar .steps .step {
    position: relative;
  }
  .main .sidebar .steps .step .about {
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    left: calc(100% + 1.25rem);
    top: 50%;
    transform: translateY(-50%);
  }
  .main .sidebar .steps .step .about .header-text,
  .main .sidebar .steps .step .about .desc-text {
    margin: 0 !important;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .main .sidebar .steps .step .about .header-text.header-text,
  .main .sidebar .steps .step .about .desc-text.header-text {
    color: #9699ab;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .main .sidebar .steps .step .about .header-text.desc-text,
  .main .sidebar .steps .step .about .desc-text.desc-text {
    color: #d6d9e6;
  }
  .main .content-area .content-area-main {
    box-shadow: none !important;
    height: 100%;
    padding: 0;
    background: none;
  }
  .main .content-area .content-area-main .options {
    grid-template-columns: repeat(3, 1fr);
  }
  .main .content-area .content-area-main .options .option {
    flex-direction: column;
  }
  .main .content-area .buttons-container {
    background: none;
  }
  .input {
    border-radius: 0.4rem !important;
  }
  .label {
    margin-bottom: 0.2rem;
    font-weight: 500;
  }
}

/*# sourceMappingURL=style.css.map */
